@import "./cluster-css/cluster";

header,
main {
  padding: 2rem;
  @include ccss-on-tablet-and-up {
    padding: 4rem;
  }
}

.form-group {
  padding: 1.5rem 0;
  p,
  .form-group-title {
    margin: 0 0 0.5rem;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  display: block;
  width: 100%;
}

label {
  display: block;
  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
  }
}
