@import "./cluster-css/cluster";

header,
main,
footer {
  padding: 4rem;
  @include ccss-on-tablet-and-up {
    // padding: 4rem;
  }
}

$clip-amount: 16rem;

.header-wrapper {
  padding-bottom: 16rem;
  background-color: lighten($color: $ccss-primary-color, $amount: 50);
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 16rem), 0% 100%);
}

main {
  margin-top: -16rem;
}

.form-group {
  padding: 2rem 0;
  p,
  .form-group-title {
    font-weight: 400;
    margin: 0 0 0.5rem;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  outline: none;
  display: block;
  padding: 0.5rem;
  width: 100%;
  border-radius: 2px;
  border: solid 1px lighten($color: $ccss-mutedblack-color, $amount: 60);
}

::placeholder {
  color: lighten($color: $ccss-mutedblack-color, $amount: 60);
}

label {
  display: block;
  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

ul {
  @include list-reset;

  li {
    margin: 0 1rem;
    padding: 0.5rem;
  }
}

.container {
  padding: 0;
}
